html{
  animation: transin 5s;
}

body {
    /*background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);*/
    background: linear-gradient(-45deg, #f1b7ab, #fa93bb, #70d1f5, #68eccd);
    background-size: 400% 400%;
    animation: gradient 35s ease infinite;
}

@keyframes transin{
  from{
    opacity: 0;
    transform: rotateX(-10deg);
  }
  to{
  opacity: 1;
    transform: rotateX(0);

  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}